﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome.</h1>
                <h2></h2>
            </hgroup>
            <p>
                Nimtone is an RHOK BE project: <br />
                It automatically sends a text message to patients to remind them when they have a doctor's appointment.
            </p>
        </div>
    </section>
}
